.inner_ticker
{
    background: url( "tokens/numbers_inner.png" );
    width: 864px;
    height: 864px;
    position: relative;
    top: -435px;
    left: -670px;
}

.outer_ticker
{
    background: url( "tokens/numbers_outer.png" );
    width: 864px;
    height: 864px;
    position: relative; 
    top: -1298px;
    left: -670px;
}

