#home
{
    max-width: 700px;
    margin: auto;
}

.intro
{
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
}

#create
{
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
}

.slider_amt
{
    border: none;
    font-size: large;
    font-weight: bold;
}

/* */
#game
{
    margin: 0;
}

.grid_container
{
    background-color: black;
    width: 100%; 
    margin: 0;
    height: 600px;
    min-height: 100%;
    padding: 20px;
}

.cube_grid
{
    width: 300px;
    margin: auto;
}

.cube_grid table
{
    background-color: white;
    border: 1px solid gray;
    cursor: move;
}

.gridsquare 
{
    
}

.gridsquare.even
{
    background-color: #F59ABF;
}

.drop_target
{
    opacity: 0.5;
}

.drop_target.odd
{
    background-color: #F2C9DA;
}

.drop_target_hover
{
    opacity: 0.2;
}

.null
{
    visibility: hidden;
}

.sidebar
{
    position: absolute;
    position: fixed;
    left: 0px;
    top: 20px; 
}

.sidebar_container
{
    padding: 20px;
    background-color: white;
    border-right: 2px solid gray;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray; 
}

.next_container
{
}
