.token
{
    height: 51px;
    width: 51px;
    cursor: pointer;
}

.A
{
    background: url( "tokens/token_sprite.png" ) 0 51px; 
}

.J
{
    background: url( "tokens/token_sprite.png" ) 102px 51px; 
}

.I
{
    background: url( "tokens/token_sprite.png" ) 153px 51px; 
}

.H
{
    background: url( "tokens/token_sprite.png" ) 204px 51px; 
}

.G
{
    background: url( "tokens/token_sprite.png" ) 255px 51px; 
}

.F
{
    background: url( "tokens/token_sprite.png" ) 306px 51px; 
}

.E
{
    background: url( "tokens/token_sprite.png" ) 357px 51px; 
}

.D
{
    background: url( "tokens/token_sprite.png" ) 408px 51px; 
}

.C
{
    background: url( "tokens/token_sprite.png" ) 459px 51px; 
}

.B
{
    background: url( "tokens/token_sprite.png" ) 510px 51px; 
}

.Knight
{
    background: url( "tokens/token_sprite.png" ) 0 0; 
}

.Pawn
{
    background: url( "tokens/token_sprite.png" ) 51px 0; 
}

.Checker
{
    background: url( "tokens/token_sprite.png" ) 102px 0; 
}

.King
{
    background: url( "tokens/token_sprite.png" ) 153px 0; 
}

.Bomb
{
    background: url( "tokens/token_sprite.png" ) 204px 0; 
}

.Glob
{
    background: url( "tokens/token_sprite.png" ) 255px 0; 
}

.Parasite
{
    background: url( "tokens/token_sprite.png" ) 306px 0; 
}

.Bishop
{
    background: url( "tokens/token_sprite.png" ) 357px 0; 
}

.Joker
{
    background: url( "tokens/token_sprite.png" ) 408px 0; 
}

.Rook
{
    background: url( "tokens/token_sprite.png" ) 459px 0; 
}

.Brick
{
    background: url( "tokens/token_sprite.png" ) 510px 0; 
}
