.token
{
    height: 51px;
    width: 51px;
    cursor: pointer;
}

.A
{
    background: url( "tokens/token_sprite.png" ) 0 102px; 
}

.J
{
    background: url( "tokens/token_sprite.png" ) 102px 102px; 
}

.I
{
    background: url( "tokens/token_sprite.png" ) 153px 102px; 
}

.H
{
    background: url( "tokens/token_sprite.png" ) 204px 102px; 
}

.G
{
    background: url( "tokens/token_sprite.png" ) 255px 102px; 
}

.F
{
    background: url( "tokens/token_sprite.png" ) 306px 102px; 
}

.E
{
    background: url( "tokens/token_sprite.png" ) 357px 102px; 
}

.D
{
    background: url( "tokens/token_sprite.png" ) 408px 102px; 
}

.C
{
    background: url( "tokens/token_sprite.png" ) 459px 102px; 
}

.B
{
    background: url( "tokens/token_sprite.png" ) 510px 102px; 
}

.Knight
{
    background: url( "tokens/token_sprite.png" ) 0 0; 
}

.Pawn
{
    background: url( "tokens/token_sprite.png" ) 51px 0; 
}

.Checker
{
    background: url( "tokens/token_sprite.png" ) 102px 0; 
}

.King
{
    background: url( "tokens/token_sprite.png" ) 153px 0; 
}

.Bomb
{
    background: url( "tokens/token_sprite.png" ) 204px 0; 
}

.Glob
{
    background: url( "tokens/token_sprite.png" ) 255px 0; 
}

.Parasite
{
    background: url( "tokens/token_sprite.png" ) 306px 0; 
}

.Bishop
{
    background: url( "tokens/token_sprite.png" ) 357px 0; 
}

.Joker
{
    background: url( "tokens/token_sprite.png" ) 408px 0; 
}

.Rook
{
    background: url( "tokens/token_sprite.png" ) 459px 0; 
}

.Brick
{
    background: url( "tokens/token_sprite.png" ) 510px 0; 
}

.Wallflower
{
    background: url( "tokens/token_sprite.png" ) 460px 51px; 
}

.Assassin
{
    background: url( "tokens/token_sprite.png" ) 409px 51px; 
}

.Church
{
    background: url( "tokens/token_sprite.png" ) 561px 51px; 
}

.State
{
    background: url( "tokens/token_sprite.png" ) 510px 51px; 
}

.Crowd
{
    background: url( "tokens/token_sprite.png" ) 358px 51px; 
}
